.formInput {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.formInput label {
    margin-bottom: .6em;
    font-weight: bold;
    color: #56696f;
}

.formInput input {
    padding: .7em;
    border-radius: 3px;
    border: #56696f 1px solid;
}

.formInput input::placeholder {
    color: #56696f;
}