.message {
    width: 100%;
    padding: 1em;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2em;
    box-shadow: 2px 2px #d1d1d1;
    background-color: rgb(229, 246, 253);  
}

.success {
    color: #fff;
    background-color: #2e7d32 !important;
}

.danger {
    background-color: rgb(253, 237, 237) !important;
}

.alert {
    background-color: rgb(255, 244, 229) !important;
}

